header{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  
}

#logo img{
  width:50px;
}

h2{
  color:#7d97ad;
  margin: 25px;
}

hr{
      border-width: 3px;
      background-color:#7d97ad;
}

#tron{
   display:flex;
  justify-content: center;
}

.coffee{
  width:150px;
}

#work{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {

  header{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  
  }
  #work{
    display:flex;
    flex-direction:column;
    align-items:center; 
  }
  
  .coffee{
    justify-content:center;
  }


img{
  width:50%;
}

  
 
}